/* CSS Document */
@charset "euc-kr"; 

#footer {clear:both; overflow:hidden; font-size:11px; margin-top:30px; padding-bottom:10px; padding-top:20px; line-height:1.5em; text-align: left; display:inline;}
/* Hides from IE5-mac \*/
* html #footer { height: 1%;}
/* End hide from IE5-mac */

.logo_footer {float:left; padding:0 20px; width:70px;}

#footer address {clear:both; color:#999;}

#footer .rs {padding:10px;}

#footer .copyright {color:#999;}