#wrap { width:100%; text-align:center;position:relative;}

/* 상단 */
#header {position:relative; width:994px; height:87px; margin:auto;}

/* 중간 */
#container {position:relative; width:994px; overflow:hidden; margin:auto; margin-top:25px;}
#left {float:left; width:200px; min-height:500px; display:block;}
#contents {float:left; margin-left:20px; width:760px; display:inline;}
#container_popup {position:relative; clear:both; width:480px;margin-top:15px;}

/* 하단 */
#footer {position:relative; width:994px; clear:both; margin:auto;line-height:1.5em; text-align:left; color:#999999}
.logo_footer {float:left; padding:0 100px 10px 60px ; width:70px;}