/* left */

#left_box { border:1px solid #d4d4d4; padding:0px 10px 20px; width:180px; height:330px; text-align: left;}

.leftmenu {text-decoration:none;color:#333; padding:10px; cursor:pointer;}



.leftmenu dl {padding:6px 0 0 22px; background-image:url(../images/icon_left_on.gif); background-repeat:no-repeat;line-height:8px; margin-bottom:7px;}

.leftmenu a:{text-decoration:none;color:#333;}
.leftmenu a:link {text-decoration:none;color:#333;}
.leftmenu a:visited {text-decoration:none;color:#333;}
.leftmenu a:hover { text-decoration:none;color:#1965af; font-weight:bold;}
.leftmenu a:active {text-decoration:none;color:#333;}

.leftmenu .second {padding-left:20px; font-weight:normal; font-size:11px; background-image:url(../images/icon_left_second.gif); background-repeat:no-repeat; margin-left:10px;line-height:20px;}