caption { display:none;}
.table_wrap { width:750px; padding-left:10px;}
table.basic_list { width:100%; border-collapse: collapse; border-bottom: 1px #c8c8c8 solid; margin-bottom:10px;}
table.basic_list th { border-bottom: 1px #c8c8c8 solid; background-color:#e9eaff; 
	font:11px normal; height:24px; border-top:2px solid #214f8e; border-bottom:1px solid #aeaeae; color:#003e81; }
table.basic_list td { text-align:center; height:25px;  border-bottom:1px solid #eaeaea;}
table.basic_list .title { text-align:left;}
input[type="text"],textarea {background-color:#fff; border:1px #ccc solid;}

/* 게시판 기본 */
.board_list a:{color:#929292; text-decoration:none;}
.board_list a:link {color:#929292;}
.board_list a:visited {color:#929292;}
.board_list a:hover {color: #336699;}
.board_list a:active {color: #336699;}

/* 검색테이블 */

.table_search  { width:100%; border:1px solid #ddd; background-color:#f5f5f5;}
.table_search td {font-size:11px; padding:4px 15px;}

/* 게시판 글쓰기 */
.board_write {border-top:solid 1px #214f8e; border-bottom:solid 1px #CCC ; margin-bottom:10px;border-collapse: collapse;  width:100%;}
.board_write th,
.board_write td {line-height:24px;}
.board_write th {padding-left:5px; font:11px normal; background-color:#e9eaff; color:#003e81;border-bottom:solid 1px #fff;font:11px normal;}
.board_write td {padding-left:5px; border-bottom:solid 1px #e6e6e6; }

/* 게시판 내용보기 */
.board_view {border-top:solid 2px #214f8e; border-bottom:solid 1px #c8c8c8; margin-bottom:10px;width:100%;border-collapse: collapse; }
.board_view th,
.board_view td { padding-left:5px; height:24px;border-bottom: 1px #c8c8c8 solid;}
.board_view th { color:#003e81; font:11px normal;}
.board_view .title { color:#003e81; font-size:12px; text-align:left; font-weight:bold;}
.board_view .con { padding:15px 15px 20px; text-align:justify; min-height:500px; border-top: 3px #ccc double;}
/*.board_view img { .margin-top:expression( verticalAlign(this) ); }*/
.board_view img {-ms-interpolation-mode:bicubic;}
.board_view .prenext { color:#003e81; font:11px normal; text-align:center;}

/* 덧글 */
.reply {clear:both; margin-bottom:10px;}
.reply_con {overflow:hidden; margin-bottom:3px; background:url('/new_ver/images/board/ico_reply_line.gif') repeat-x left bottom; font-size:11px;}
/* Hides from IE5-mac \*/
* html .reply_con { height: 1%; }
/* End hide from IE5-mac */
.reply_con .name {width:65px; float:left; padding:2px 0 2px 15px; background:url('/new_ver/images/board/ico_reply_name.gif') no-repeat 3px 3px;}
.reply_con .con {width:578px; float:left; background:url('/new_ver/images/board/ico_reply_p.gif') no-repeat left 2px; padding: 2px 0 2px 8px;}
.reply_con .date {font-size:10px; color:#999; padding:0 5px; font-family:verdana;}

.reply_write {font-size:11px; text-align:right; padding:2px 5px; background-color:#eee; margin-top:5px;}

/* 게시글 수정 */
.modify_ok {clear:both; width:406px; height:138px; background:url('/new_ver/images/board/bg_modify.gif') no-repeat left top; margin:50px auto; text-align:center; padding-top:40px;}
.modify_ok .pw {}
.modify_ok .guide {margin-top:10px; color:#999;}
.modify_ok .btns {margin-top:30px;}

/* 게시판 페이징 */
.page_num {padding:2px 0 20px; text-align:center; font-family:verdana, arial, helvetica, sans-serif; font-size:11px; clear:both;}
.page_num img{margin:0 1px;}
.page_num a {color:#666; font-size:11px;}
.page_num .paging_tp {font-weight: bold; color:#0f82cd; margin:0 4px;}
.page_num .paging_op {margin:0 4px; color:#666;}
.page_num .paging_tp a {color:#0f82cd; font-size:11px;}
.page_num .paging_op a {color:#666; font-size:11px;}
.page_num .paging_op a:hover {color:#999; font-size:11px;}

/* 게시판 네비게이션 */
.board_nav, pagination {clear:both; position:relative; text-align:center; padding:10px 5px 15px; overflow:hidden;}
/* Hides from IE5-mac \*/
* html .board_nav, pagination { height: 1%; }
/* End hide from IE5-mac */
.btn_right {float:right; text-align:right;}
.btn_left {float:left; text-align:left;}
.btn_center {text-align:center;}
.board_field {padding:10px 5px; text-align:center; margin-bottom:15px; border:solid 1px #ececec; color:#ccc;}
.board_field a {color:#666;}
.board_field a:hover {color:#999;}

/* 게시판 검색 */
.board_top {overflow:hidden; margin-bottom:5px;}
/* Hides from IE5-mac \*/
* html .board_top { height: 1%; }
/* End hide from IE5-mac */
.board_top .total {float:left; width:auto; font-size:11px; font-family:'verdana'; color:#999; padding-top:11px; padding-left:12px;}
.board_top .paging_top {float:left; width:auto; font-size:11px; font-family:'verdana'; color:#999; padding-left:12px;}
.board_top .paging_top a {color:#336699;}
.board_top .board_sch {float:right; text-align:right; padding-right:12px;}
.board_guide {background:url('/new_ver/images/board/bg_boardguide1.gif') no-repeat right top;  width:auto; height:25px; line-height:25px; color:#2c5571; margin-bottom:15px;}
.board_guide span {background:url('/new_ver/images/board/bg_boardguide2.gif') no-repeat left top; display:block; height:25px; padding-left:20px;}


.faq_wrap {width:750px; padding-left:10px;}
.faq_wrap dl {padding:2px ; border-top:2px solid #214f8e; }
.faq_wrap dt, dd {padding:3px;}
.faq_wrap dt {margin-top:2px; background:#eee;}
.faq_wrap dt a {color:#333;}
.faq_wrap dd {background:#fafafa;}
	
.current {font-weight:bold; background:#ccc;}
.current a {color:#000;}   
