/* CSS Document */
@charset "euc-kr"; 

#footer {clear:both; overflow:hidden; font-size:11px; margin-top:30px; padding-bottom:10px; padding-top:20px; no-repeat left top;}
/* Hides from IE5-mac \*/
* html #footer { height: 1%;}
/* End hide from IE5-mac */

#footer address {clear:both; color:#999;}
#footer .rs {padding-right:10px;}

#footer .copyright {color:#999;}