
/* 상단 */
#header {position:relative; width:994px; height:105px; margin:auto; padding: 15px;}

/* 중간 */
#container {position:relative; clear:both; width:994px; overflow:hidden; margin:auto;}
#left {float:left; width:200px; min-height:600px;}
#contents {float:left; margin-left:20px; width:760px; display:inline;}

/* 하단 */
#footer {position:relative; width:994px; height:80px; clear:both; text-align:center;}
